Daedalus/Daedalus.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Daedalus/Daedalus.xcodeproj/project.xcworkspace/xcuserdata/ericeddy.xcuserdatad/UserInterfaceState.xcuserstate
Daedalus/Daedalus.xcodeproj/xcuserdata/ericeddy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Daedalus/Daedalus.xcodeproj/xcuserdata/ericeddy.xcuserdatad/xcschemes/Daedalus.xcscheme
Daedalus/Daedalus.xcodeproj/xcuserdata/ericeddy.xcuserdatad/xcschemes/xcschememanagement.plist
